footer{
    background: linear-gradient(to right, #2B2C64, #26254F, #211E39);
    color: white;
}
footer img{
    width: 50%;
}

#nav-footer a{
    text-decoration: none;
    color: white;
}

#redes-footer a{
    color: white;
}